// $bgcolor1: rgb(150, 166, 220);
// $bgcolor2: rgb(223, 232, 245);
// $bgcolor3: rgb(182, 61, 61);
// $bgcolor4: rgb(235, 227, 194);

// $bgcolor1: #8D8741;
// $bgcolor2: #659DBD;
// $bgcolor3: #DAAD86;
// $bgcolor4: #BC986A;
// $bgcolor5: #FBEEC1;

// $bgcolor-gold: #D79922;
// $bgcolor-pale-yellow: #EFE2BA;
// $bgcolor-blue: #4056A1;

$color-red: #f8654f;
// $color-gray-blue: #C5CBE3;

$bgcolor-navbar: #73A9AD;
$bgcolor-panel-heading: #C4DFAA;//#90C8AC;
$bgcolor-title-panel: #90C8AC;//#C4DFAA;
$bgcolor-panel-contents: #F5F0BB;
$white: #fcf5e4;
$gray: #dbd6c6;