@use 'colors';
@use 'tags-general';

@mixin flexJustify() {
    display: flex;
    text-align: justify;
    flex-direction: row;
}

$linkContentsPadding: 10px;
$list-buttons-width: 100px;
$height-input-buttons: 1.5rem;


* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: colors.$bgcolor2;
}

.title-and-owner-panel {
    background-color: colors.$bgcolor1;
}

.input-field {
    width: 65%;
    max-width: 750px;
    height: $height-input-buttons;
    border: 1px solid;
    text-align: center;
    margin-bottom: 10px;
}

.list-title {
    background-color: colors.$bgcolor1;
    margin: 0.15rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
}

.link-content {
    background-color: colors.$bgcolor1;
    padding: 2px;
    border: 1px solid;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    padding: 0px;
}

.link-title {
    background-color: colors.$bgcolor1;
    margin: 0.15rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
}


.link-image-description {
    @include flexJustify();
}

.hyperlink-panel {
    @include flexJustify();
}

.link-thumbnail {
    width: 150px;
    height: 150px;
    padding-left: $linkContentsPadding;
    padding-right: $linkContentsPadding;
}

.hyperlink {
    color: colors.$bgcolor3;
    font-size: 20px;
    font-weight: 300;
    padding-left: $linkContentsPadding;
}

.privacy-panel {
    display: inline-flex;
}

.new-url-field {
    background-color: colors.$bgcolor1;
    padding-top: 0.05rem;
}

.save-list-panel {
    margin-top: 20px;
    border-top: 2px solid;
}

.save-list-btn {
    margin-top: 20px;
}

.delete-list-btn {
    background-color: colors.$bgcolor3;
    color: colors.$bgcolor2;
    margin-top: 10px;
    margin-bottom: 20px;
}

.links-buttons {
    display: flex;
    justify-content: center;
    gap: 2px
}

.userpanel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: colors.$bgcolor1;
    width: 100%;
    padding-bottom: 0.15rem;
}

.mylists-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: colors.$bgcolor2;
}

.mylists-list-item {
    display: grid;
    grid-template-columns: 3fr 0.5fr 0.5fr;
    gap: 1rem;
    align-items: center;
}

@media only screen and (max-width: 750px) {
    .mylists-list-item {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.btn-userpanel-list-edit {
    width: $list-buttons-width;
}

.btn-delete {
    background-color: colors.$bgcolor3;
    color: colors.$bgcolor2;
}

.app-panel {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    background-color: colors.$bgcolor1;
    width: 100%;
    margin: 0.15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.named-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.username-password-input-field {
    background-color: colors.$bgcolor5;
}

.error-message {
    color: colors.$bgcolor3;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
  
.modal-main {
    position:fixed;
    background: rgba(0, 0, 0, 0);
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: baseline;
}
  
.display-block {
    display: block;
}
  
.display-none {
    display: none;
}
  
.site-title {
    font-size: 28px;
    margin: 1rem;
}

.site-description {
    font-size: 14px;
    font-style: italic;
    margin-top: 0.5rem;
    margin-bottom: 0px;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid black;
}

.footer {
    margin-top: 2px;
    border-top: 2px solid black;
}

.navbar {
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-between;
    align-items: center;
    background-color: colors.$bgcolor4;
    height: 50px;
}

.navbar-text {
    background-color: transparent;
}

.navbar-hyperlink {
    font-size: 22px;
    color: colors.$bgcolor2;
    background-color: transparent;   
}

.btn-logout {
    background-color: colors.$bgcolor2;
    width: 60px;
    margin-left: 0.5rem;
}

.modal-btn {
    width: 75px;
    height: $height-input-buttons;
}