@-webkit-keyframes blink-hyperlink {
  0% {
    background-color: #73A9AD;
  }
  50% {
    background-color: #F5F0BB;
  }
  100% {
    background-color: #73A9AD;
  }
}
@keyframes blink-hyperlink {
  0% {
    background-color: #73A9AD;
  }
  50% {
    background-color: #F5F0BB;
  }
  100% {
    background-color: #73A9AD;
  }
}
@-webkit-keyframes blink-img-btn {
  0% {
    background-color: #C4DFAA;
  }
  50% {
    background-color: #F5F0BB;
  }
  100% {
    background-color: #C4DFAA;
  }
}
@keyframes blink-img-btn {
  0% {
    background-color: #C4DFAA;
  }
  50% {
    background-color: #F5F0BB;
  }
  100% {
    background-color: #C4DFAA;
  }
}
@-webkit-keyframes blink-btn {
  0% {
    background-color: #F5F0BB;
  }
  50% {
    background-color: #C4DFAA;
  }
  100% {
    background-color: #F5F0BB;
  }
}
@keyframes blink-btn {
  0% {
    background-color: #F5F0BB;
  }
  50% {
    background-color: #C4DFAA;
  }
  100% {
    background-color: #F5F0BB;
  }
}
@-webkit-keyframes blink-btn-delete {
  0% {
    background-color: #f8654f;
  }
  50% {
    background-color: #fcf5e4;
  }
  100% {
    background-color: #f8654f;
  }
}
@keyframes blink-btn-delete {
  0% {
    background-color: #f8654f;
  }
  50% {
    background-color: #fcf5e4;
  }
  100% {
    background-color: #f8654f;
  }
}
* {
  font-family: "Times New Roman", Times, serif;
  background-color: #fcf5e4;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.hyperlink {
  padding-left: 0.75rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: #f8654f;
  background-color: transparent;
  text-decoration: none;
}

.hyperlink:hover {
  color: #73A9AD;
}

.input-field {
  width: 16.25rem;
  max-width: 50%;
  height: 1.75rem;
  border: 1px solid;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  text-align: center;
}

.input-field-large {
  width: 48.75rem;
}

.prompt-and-input-field {
  width: 100%;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
}

.credentials-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username-password-input-field {
  width: 32.5rem;
  background-color: #F5F0BB;
}

.error-message {
  margin: 1rem;
  color: #f8654f;
  font-size: 1.75rem;
  text-align: center;
}

.home {
  text-align: center;
}

.img-page-not-found {
  width: 100%;
}

.img-btn {
  padding: 2px;
  width: 30px;
  height: auto;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.img-btn:hover {
  -webkit-animation: blink-img-btn 1s infinite;
          animation: blink-img-btn 1s infinite;
}

.img-btn-btn {
  border: 0px;
}

h2 {
  font-size: 1.75rem;
  background-color: inherit;
}

h3 {
  font-size: 1.5rem;
  background-color: inherit;
}

h4 {
  font-size: 1.25rem;
  background-color: inherit;
}

h5 {
  font-size: 1rem;
  font-weight: 300;
  background-color: inherit;
}

div, i, ol, li {
  background-color: inherit;
}

ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

input[type=checkbox] {
  width: 1.2rem;
  height: 1.2rem;
}

.panel {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-and-owner-panel {
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
  background-color: #90C8AC;
  text-align: center;
}

.privacy-panel {
  padding-bottom: 0;
  flex-direction: row;
  justify-content: center;
}

.save-list-panel {
  border-top: 2px solid;
  padding-top: 1rem;
}

.mylists-panel {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #90C8AC;
  text-align: center;
}

.mylists-list {
  width: 99%;
  background-color: #F5F0BB;
}

.btn {
  width: 6.5rem;
  height: 1.75rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  color: black;
  background-color: #F5F0BB;
  border-color: black;
}

.btn:disabled {
  display: none;
}

.btn:hover {
  -webkit-animation: blink-btn 1s infinite;
          animation: blink-btn 1s infinite;
}

.btn-large {
  width: 13rem;
}

.btn-delete {
  background-color: #f8654f;
  color: black;
}

.btn-delete:hover {
  -webkit-animation: blink-btn-delete 1s infinite;
          animation: blink-btn-delete 1s infinite;
}

.btn-logout {
  width: 6.5rem;
  margin-left: 0.5rem;
}

.btn-modal {
  width: 5rem;
  height: 1.75rem;
  background-color: #C4DFAA;
}

.link-title {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background-color: #C4DFAA;
  text-align: center;
  position: relative;
}

.link-content {
  border: 1px solid;
  margin-bottom: 1rem;
  background-color: #F5F0BB;
}

.link-description {
  display: flex;
  text-align: justify;
  flex-direction: row;
  padding-right: 1rem;
  padding-top: 1rem;
}

.link-thumbnail {
  width: 150px;
  height: 150px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: #F5F0BB;
}

.link-hyperlink {
  display: flex;
  text-align: justify;
  flex-direction: row;
}

.navbar, .navbar-guest {
  height: 3.5rem;
  padding-left: 1rem;
  border-bottom: 1px solid black;
  background-color: #73A9AD;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  align-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99999;
}

.navbar-guest {
  grid-template-columns: 1fr 2fr;
}

.navbar-text {
  background-color: transparent;
  color: #F5F0BB;
}

.navbar-middle {
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-username {
  padding-right: 1rem;
  display: flex;
  justify-content: right;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}

.navbar-hyperlink {
  height: 100%;
  font-size: 1.5rem;
  color: #fcf5e4;
  background-color: transparent;
  text-decoration: none;
}

.navbar-hyperlink:hover {
  border-radius: 0.5rem;
  -webkit-animation: blink-hyperlink 1s infinite;
          animation: blink-hyperlink 1s infinite;
}

.modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
}

.modal-main {
  width: 50%;
  max-width: 32.5rem;
  height: auto;
  border: 1px solid black;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: #F5F0BB;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  row-gap: 1rem;
}

.modal-share-list-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.new-url-field {
  padding-top: 0.05rem;
  background-color: #C4DFAA;
}

.list-title-privacy {
  padding: 0.5rem;
  margin: 0;
}

.links-buttons {
  padding-bottom: 0.5rem;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
}

.user-info {
  width: 100%;
  background-color: #C4DFAA;
  text-align: center;
}

.mylists-list-item {
  padding: 0.1rem;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.login-title {
  width: 100%;
  margin: 0.15rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #C4DFAA;
  text-align: center;
}

.site-title {
  margin: 1rem;
  font-size: 1.75rem;
}

.site-description {
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid black;
  font-size: 1.5rem;
  font-style: italic;
}

.footer {
  margin-top: 2px;
  border-top: 2px solid black;
}

@media only screen and (max-width: 600px) {
  .mylists-list-item {
    display: grid;
    grid-template-columns: 1fr;
  }
  .credentials-panel {
    width: 100%;
  }
  .navbar-hyperlink, .navbar-text {
    font-size: 100%;
  }
}/*# sourceMappingURL=style.css.map */