@use 'colors';
@use 'tags-general';

@mixin flexJustify() {
    display: flex;
    text-align: justify;
    flex-direction: row;
}

$linkContentsPadding: 0.75rem;
$btn-width: 6.5rem;
$btn-height: 1.75rem;
$height-input-buttons: 1.5rem;


* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: colors.$white;
}

/////////////////////////////////////////
///     PANELS
/////////////////////////////////////////
.panel {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-panel {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-and-owner-panel {
    background-color: colors.$bgcolor-title-panel;
    margin: 0.15rem;
    text-align: center;
}

.privacy-panel {
    padding-bottom: 0;
    flex-direction: row;
    justify-content: center;
}

.save-list-panel {
    border-top: 2px solid;
    padding-top: 1rem;
}

.user-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mylists-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 1rem;
    background-color: colors.$bgcolor-title-panel;
}

.mylists-list {
    width: 99%;
    background-color: colors.$bgcolor-panel-contents;
}

/////////////////////////////////////////
///     BUTTONS
/////////////////////////////////////////

.btn {
    color: black;
    background-color: colors.$bgcolor-panel-contents;
    border-color: black;
    width: $btn-width;
    height: $btn-height;
    font-size: 18px;
    border-radius: 0.25rem;
}

.btn-large {
    width: 2*$btn-width;
}

.btn-delete {
    background-color: colors.$color-red;
    color: black;
}

.btn-logout {
    width: $btn-width;
    margin-left: 0.5rem;
}

.btn-modal {
    width: 75px;
    height: $height-input-buttons;
    background-color: colors.$bgcolor-panel-heading;
}

/////////////////////////////////////////
///     LINKS INSIDE A LIST
/// 
/////////////////////////////////////////

.link-title {
    text-align: center;
    background-color: colors.$bgcolor-panel-heading;
    margin: 0.15rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
}

.link-content {
    background-color: colors.$bgcolor-panel-contents;
    border: 1px solid;
    margin-bottom: 1rem;
}

.link-description {
    @include flexJustify();
    padding-right: 1rem;
}

.link-thumbnail {
    background-color: colors.$bgcolor-panel-contents;
    width: 150px;
    height: 150px;
    padding-left: $linkContentsPadding;
    padding-right: $linkContentsPadding;
}

.link-hyperlink {
    @include flexJustify();
}
/////////////////////////////////////////
///     NAVBAR
/////////////////////////////////////////
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    align-content: center;
    padding-left: 1rem;
    background-color: colors.$bgcolor-navbar;
    height: 3.5rem;
}

.navbar-text {
    background-color: transparent;
    color: colors.$bgcolor-panel-contents;
}

.navbar-middle {
    display: flex;
    justify-content: center;
}

.navbar-username {
    display: flex;
    justify-content: right;
    padding-right: 1rem;
}

.navbar-hyperlink {
    font-size: 22px;
    color: colors.$white;
    background-color: transparent;   
    text-decoration: none;
    height: 100%;
}

.navbar-hyperlink:hover {
    background-color: colors.$bgcolor-panel-heading;
    color: colors.$bgcolor-panel-contents;
}

/////////////////////////////////////////
///     MODAL
/////////////////////////////////////////
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
  
.modal-main {
    position:fixed;
    background: colors.$bgcolor-panel-contents;
    width: 25%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    row-gap: 1rem;
    border: 1px solid black;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/////////////////////////////////////////

.new-url-field {
    background-color: colors.$bgcolor-panel-heading;
    padding-top: 0.05rem;
}

.links-buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: colors.$bgcolor-panel-heading;
    width: 100%;
    padding-bottom: 0.75rem;
}

.mylists-list-item {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    //gap: 0.5rem;
    border-top: 1px solid colors.$bgcolor-navbar;
    border-bottom: 1px solid colors.$bgcolor-navbar;
    padding: 0.1rem;
}

@media only screen and (max-width: 750px) {
    .mylists-list-item {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.login-title {
    background-color: colors.$bgcolor-panel-heading;
    width: 100%;
    margin: 0.15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
  
.display-block {
    display: block;
}
  
.display-none {
    display: none;
}
  
.site-title {
    font-size: 28px;
    margin: 1rem;
}

.site-description {
    font-size: 14px;
    font-style: italic;
    margin-top: 0.5rem;
    margin-bottom: 0px;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid black;
}

.footer {
    margin-top: 2px;
    border-top: 2px solid black;
}

/////////////////////////////////////////
///     BASIC HTML ELEMENTS
/////////////////////////////////////////

.hyperlink {
    color: colors.$color-red;
    font-size: 20px;
    font-weight: 300;
    padding-left: $linkContentsPadding;
    text-decoration: none;
    background-color: transparent;
}

.hyperlink:hover {
    color: colors.$bgcolor-navbar;
}

.input-field {
    width: 2.5*$btn-width;
    max-width: 750px;
    height: $height-input-buttons;
    border: 1px solid;
    text-align: center;
    border-radius: 0.25rem;
}

.input-field-large {
    width: 5*$btn-width;
}

.prompt-and-input-field {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    align-self: stretch;
    padding-inline-start: 25%;
    column-gap: 1rem;
}

.username-password-input-field {
    background-color: colors.$bgcolor-panel-contents;
}

.error-message {
    color: colors.$color-red;
}

.home {
    text-align: center;
}