@use 'colors';

h2 {
    font-size: 28px;
    background-color: inherit;
}

h3 {
    font-size: 24px;
    background-color: inherit;
}

h4 {
    font-size: 20px;
    background-color: inherit;
}

h5 {
    font-size: 18px;
    font-weight: 300;
    background-color: inherit;
}

div, i, ol, li {
    background-color: inherit;
}

ol {
    padding-left: 0;
}